{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
        <title>Mosaic</title>
    </head>
    <body style="background: #efefef">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7">
                    <div class="row">
                        <h1 style="margin-left: 120px; margin-top: 105px; font-family: 'Poppins'; font-style: normal; font-weight: 800; font-size: 66px; line-height: 75px; color: #000000">
                            Create an <br />
                            Account
                        </h1>
                    </div>
                    <div class="row">
                        <p style="margin-top: 20px; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 28px; letter-spacing: 0.02em; color: #000000; opacity: 0.6; margin-left: 120px">
                            It's easy - opening your new account takes <br />
                            just minutes
                        </p>
                        <div style="margin-left: 70px">
                            <img src="{% static '/signup.svg' %}" alt="My image" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row"><h1 style="margin-top: 105px; font-family: 'Titillium Web'; font-style: normal; font-weight: 700; font-size: 26px; line-height: 40px; color: #17171f">Signup to Mosaic</h1></div>
                    <div class="row">
                        <p style="font-family: 'Titillium Web'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; display: flex; align-items: flex-end; color: #17171f">Already have an account?&nbsp;<a style="text-decoration: none" href="#">Login</a></p>
                        <div class="container">
                            <div class="row mb-4">
                                <div class="col-sm-5">
                                    <button style="color: black" type="button" class="btn btn-primary btn-lg"><i style="margin-right: 10px" class="bi bi-people"></i>Institution</button>
                                </div>
                                <div class="col-sm-5">
                                    <button style="color: black" type="button" class="btn btn-primary btn-lg"><i style="margin-right: 10px" class="bi bi-person"></i>Individual</button>
                                </div>
                            </div>
                        </div>
                        <div class="form">
                            <form>
                                <div class="row mb-4">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="form-label" for="firstName">First Name</label>
                                            <input type="firstName" class="form-control form-input" id="firstName" aria-describedby="firstNameHelp" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group"></div>
                                        <label class="form-label" for="lastName">Last Name</label>
                                        <input type="lastName" class="form-control form-input" id="lastName" aria-describedby="lastNameHelp" />
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <label class="form-label" for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control form-input" id="exampleInputEmail1" aria-describedby="emailHelp" />
                                </div>
                                <div class="form-group mb-4">
                                    <label class="form-label" for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control form-input" id="exampleInputPassword1" />
                                </div>
                            </form>
                        </div>
                        <a href="{% url 'signUp' %}">
                            <button style="margin-top: 20px; position: absolute; width: 116px; height: 52px; background-color: #000000; font-size: 17px; color: white; border-style: none">Sign Up</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <a href="{% url 'mosaicAdmin' %}"> Institutional </a>
        <a href="{% url 'mosaicUser' %}"> Individual </a> -->
        <ellipse style="z-index: -10; position: absolute; width: 600px; height: 700px; left: -38px; top: -193px; background: #5d91f0; filter: blur(137px)" />
        <ellipse style="position: absolute; width: 600px; height: 700px; left: -196px; top: -31px; background: #cc78f0; filter: blur(137px)" />
        <!-- <ellipse style="position: absolute; width: 481px; height: 481px; left: -86px; top: -207px; background: #5d91f0; filter: blur(137px)" /> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>
